server:
  port: 8999

spring:
  application:
    name: API-Gateway
  cloud:
    gateway:
      routes:
        - id:  8085 #put your microservice id
          uri: http://localhost:8085   #// here put your microservice port number
          predicates:
            - Path= /api/payments/**, /api/webhooks/**, /debug/**      #/swag/api/v1.0/** ///add here the endpoints
            #http://localhost:9090/swag/api/v1.0/welcome