server:
  port: 8999

spring:
  application:
    name: API-Gateway
  cloud:
    gateway:
      routes:
        - id:  8056 #put your microservice id
          uri: http://localhost:8056   #// here put your microservice port number
          predicates:
            - Path= /api/payments/**, /api/webhooks/**, /debug/**